snippet lua_function "Documents a Lua lua_function" b
###\`$1($2)\`

**Description**

$3

**Parameters**

 * $4

**Returns**

 * $5

${6:**MoonScript**

\`\`\`moonscript

\`\`\`

**Lua**

\`\`\`lua

\`\`\`}
endsnippet
